{
	 :dev-http {9090 "public/"}
  :deps true

  :builds {:app {:output-dir "public/compiledjs/"
           :asset-path "compiledjs"
           :target :browser
           :modules {:main {:init-fn gallery.main/main!}}
           :devtools {:after-load gallery.main/reload!}}}
}